# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env

# Streamlit
.streamlit/

# Database files
*.db

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs and temp files
*.log
*.tmp
